*{
    margin: 0;
    padding: 0;
}
.container .row .col-6 img{
     float: left;
     padding-right: 15px;
    
}
.container .row .col-6{
    height: 80px;
    margin-top: 28px;
   
}
#right img{
    float: right;
    margin-left: 10px; 
}
.row .col-3{
    margin-top: 130px;
    padding-right: 20px;
  
}
#message{
    margin-top: 10px;
    border-radius: 5px;
}
#send{
    margin-top: 10px;
}
#width{
    width: 240px;
}
button{
    border: none;
    
}