
*{
    margin: 0;
    padding: 0;
}
.container .row .col-6 img{
     float: left;
     padding-right: 15px;    
}
.container .row .col-6{
    height: 80px;
    margin-top: 35px;
}
#right img{
    float: right;
   margin-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
#creative , #blend {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .row .col-lg-4{
     display: flex;
     align-items: center;
     justify-content: center;
    
 }
 /* Create four equal columns that sits next to each other */



@media screen and (max-width: 800px) {
    .row .col-lg-4 img {
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .row .col-lg-4  {
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 800px) {
    #creative , #blend {
        flex: 100%;
        max-width: 100%;
        display: flex;
   align-items: center;
   justify-content: center;
    }
}

 #fish{
     margin-top: 46px;
 }

#creative img{
    margin-top: 20px;  
}
#blend img{
    margin-top: 5px;
}
