*{
    margin: 0;
    padding: 0;
}
.container .row .col-6 img{
     float: left;
     padding-right: 15px;
    
}
.container .row .col-6{
    height: 80px;
    margin-top: 35px;
   
}
#right img{
    float: right;
    margin-left: 10px; 
}

.container2 .row .col-4 ul li p{
    font-size: 20px;
}
.container2 .row{
    width: 900px;  
}
.container2 .row .col-4{
   padding-right: 40px;
}
#anchor{
    text-decoration: none;
}